html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  background-color: #f8f8f8;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
}
