.success {
  display: flex;
  justify-content: center;
  height: 380px;
  background: url('/src/img/banners/success-image.svg') center bottom no-repeat;

  &__title {
    margin-bottom: 50px;
  }

  &--hidden {
    display: none;
  }
}